<script>

document.getElementById("pay-button").onclick = function (event) {

    event.preventDefault();

    var options = {

        "key": "{{ razorpay_key_id }}",

        "amount": "{{ amount }}",

        "currency": "INR",

        "name": "TurfBook",

        "description": "Turf Booking Payment",

        "order_id": "{{ razorpay_order_id }}",

        "handler": function (response) {

            var form = document.createElement("form");

            form.method = "POST";

            form.action =
                "{% url 'verify_payment' booking.id %}";


            var csrf = document.createElement("input");

            csrf.type = "hidden";

            csrf.name = "csrfmiddlewaretoken";

            csrf.value = "{{ csrf_token }}";

            form.appendChild(csrf);


            var paymentId = document.createElement("input");

            paymentId.type = "hidden";

            paymentId.name = "razorpay_payment_id";

            paymentId.value =
                response.razorpay_payment_id;

            form.appendChild(paymentId);


            var orderId = document.createElement("input");

            orderId.type = "hidden";

            orderId.name = "razorpay_order_id";

            orderId.value =
                response.razorpay_order_id;

            form.appendChild(orderId);


            var signature = document.createElement("input");

            signature.type = "hidden";

            signature.name = "razorpay_signature";

            signature.value =
                response.razorpay_signature;

            form.appendChild(signature);


            document.body.appendChild(form);

            form.submit();

        },

        "theme": {

            "color": "#198754"

        }

    };


    var rzp = new Razorpay(options);

    rzp.open();

};

</script>